body.page-home {
  text-decoration: none !important;
  .module-title-wrap {
    margin-bottom: 30px;
    text-decoration: none !important;

    .module-title {
      text-align: center;
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: .7rem;
      position: relative;
      color: #222;
      text-decoration: none !important;


      @media (max-width: 768px) {
        font-size: 1.4rem;
        margin-bottom: .2rem;
        text-decoration: none !important;
      }
    }

    .module-sub-title {
      text-align: center;
      font-size: 1rem;
      color: #768088;
      margin-left: auto;
      margin-right: auto;
      line-height: 1.4;
      max-width: 840px;

      @media (max-width: 768px) {
        font-size: .87rem;
      }
      text-decoration: none !important;
    }
  }

  .module-line {
    margin-bottom: 20px;
    text-decoration: none !important;     
    @media (min-width: 768px) {
      margin-bottom: 40px;
      text-decoration: none !important;
    }
  }
}

